/* This stylesheet is used to style the admin option form of the plugin. */

/* Inline content container */
#vimeo-importer-thickbox {
    display: none;
}

/* Content container in Thickbox */
.vimeo-importer-thickbox {
    padding-bottom: 15px;
    padding-top: 15px;
}

/* Tabs */
#vimeo-importer-tabs {
    margin: 15px 0;
}

#vimeo-importer-tabs .active {
    color: #333;
    text-decoration: none;
}

#vimeo-importer-tabs-albums {
    display: none;
}
