/* This stylesheet is used to style the admin option form of the plugin. */

#vimeo-importer-button {
    margin-top: 5px;
}

/* Inline content container */
#vimeo-importer-thickbox {
    display: none;
}

/* Tabs */
#vimeo-importer-tabs {
    margin: 15px 0;
}

#vimeo-importer-tabs .active {
    color: #333;
    text-decoration: none;
}

#vimeo-importer-tabs-albums {
    display: none;
}

/* Videos */
.vimeo-importer-videos {
    margin-left: -10px;
}

.vimeo-importer-video {
    float: left;
    height: 165px;
    margin-bottom: 10px;
    margin-left: 10px;
    overflow: hidden;
    width: 200px;
}

.vimeo-importer-video .vimeo-importer-video-input {
    float: left;
    height: 16px;
    margin-top: 2px;
    width: 16px;
}

.vimeo-importer-video .vimeo-importer-video-input:checked::before {
    font-style: 21px;
}

.vimeo-importer-video .vimeo-importer-video-label {
    display: block;
    margin-left: 25px;
}

.vimeo-importer-image {
    margin-bottom: 10px;
}

.vimeo-importer-pagination {
    clear: left;
}
